{% extends 'partials/_master.twig' %}

{% block main %}
    {% if record|default %}

        {# banner ----------------------------------------------------------- #}
        <div>
            <img src="{{ asset('img/banner_2.jpg') }}"
                 class="w-full" alt="Yoshi Kan, judoschool voor jong en oud."
                 border="0"/>
        </div>

        {# content ----------------------------------------------------------- #}
        <div class="content-wrapper p-4">

            {# online inschrijven ------------------------------------------------------ #}
            {% if (record.toonInschrijving) %}
                <div>
                    <div class="py-2">
                        {{ record.textInschrijving | raw }}
                    </div>
                    <div style="width:250px;margin:auto;display: block;height:75px;" class="pt-2">
                        <a href="/inschrijven"
                           style="color:white;text-decoration: none;" data-cy="home_subscription"
                           class="w-full p-4 bg-blue-900 text-white rounded-lg text-xl uppercase hover:bg-blue-700">
                            Online inschrijven
                        </a>
                    </div>
                    <div class="mb-2">
                        <hr>
                    </div>
                </div>
            {% endif %}

            {# introductie ------------------------------------------------------------ #}
            <div class="md:flex md:flex-row mb-4">
                <div class="md:basis-1/2 mr-4">
                    <h1 class="uppercase">{{ record.title }}</h1>
                    <div class="mt-2">
                        {{ record.content_1 | raw }}
                    </div>
                </div>
                <div class="md:basis-1/2">
                    <h1 class="uppercase">{{ record.title_2 }}</h1>
                    <div class="mt-2">
                        {{ record.content_2 | raw }}
                    </div>
                </div>
            </div>

            {# visuals ----------------------------------------------------------- #}
            <div class="flex flex-row">
                <div class="basis-1/3 mr-4">
                    {% if (record.image_1) %}
                    <img src="{{ thumbnail(record.image_1, 268, 403) }}"
                         class="w-full" alt="Yoshi Kan, judoschool voor jong en oud."
                         border="0"/>
                    {% endif %}
                </div>
                <div class="basis-1/3 mr-4 ml-4">
                    {% if (record.image_2) %}
                        <img src="{{ thumbnail(record.image_2, 268, 403) }}"
                             class="w-full" alt="Yoshi Kan, judoschool voor jong en oud."
                             border="0"/>
                    {% endif %}
                </div>
                <div class="basis-1/3 ml-4">
                    {% if (record.image_3) %}
                        <img src="{{ thumbnail(record.image_3, 268, 403) }}"
                             class="w-full" alt="Yoshi Kan, judoschool voor jong en oud."
                             border="0"/>
                    {% endif %}
                </div>
            </div>

        </div>

    {% endif %}
{% endblock main %}
