{% extends 'partials/_master.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('inschrijving', null, 'frontend') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('inschrijving', null, 'frontend') }}
{% endblock %}

{% block main %}
    {% if record|default %}
        <div class="content-wrapper p-10">
            <h1>{{ record|title }}</h1>
            <div>
                {{ record.content }}
            </div>

            <div id="appInschrijving">
                Loading...
            </div>
        </div>

    {% endif %}
{% endblock main %}
