<!-- Footer -->
<footer>

    <div class="footer-wrapper mt-4 border-t-[1px]">
        <div class="footer-navigation-wrapper pt-4 text-gray-500">
            <div class="md:flex">
                {# logo ------------------------------------------------------------------ #}
                <div class="ml-4 w-48 sm:max-md:mx-auto">
                    <a href="/">
                        <img src="{{ asset('img/logo_yoshi_kan.jpg') }}" alt="Logo Yoshi Kan" width="140" border="0"/>
                    </a>
                </div>
                {# navigation ----------------------------------------------------------- #}
                <div
                    class="ml-4 md:flex md:flex-row w-full text-sm sm:max-md:mx-auto sm:max-md:w-64 sm:max-md:mt-4 sm:max-md:border-t-[1px]">
                    <div class="footer-nav ml-4 basis-1/3">
                        {{ menu(name = 'footer_c1', template='partials/_menu_footer.twig', withsubmenus= true) }}
                    </div>
                    <div class="footer-nav ml-4 basis-1/3">
                        {{ menu(name = 'footer_c2', template='partials/_menu_footer.twig', withsubmenus= true) }}
                    </div>
                    <div class="footer-nav ml-4 basis-1/3">
                        {{ menu(name = 'footer_c3', template='partials/_menu_footer.twig', withsubmenus= true) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrapper border-t-[1px] p-2 mt-4 text-xs text-gray-400">
            <div class="flex">
                <div>© {{ "now"|date("Y") }} Judoschool Yoshi-Kan vzw</div>
                <div class="ml-4">
                    Foto's door Pieter Peeters
                </div>
                <div class="ml-4">
                    <a href="/privacy">Privacy Verklaring</a>
                </div>
                <div class="ml-4">
                    {{ __('general.phrase.built-with-bolt') }}
                    En met ❤ .
                </div>
            </div>
        </div>

    </div>

</footer>
