{# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
   invokes itself to insert the items of the submenus. #}
{% macro display_menu_item(item, loop, withsubmenus) %}
    {% from _self import display_menu_item %}
    {% apply spaceless %}
        {% set with_submenu = withsubmenus and item.submenu is not empty %}
        {% if item.uri != '/' %}
            <div>
                <a href="{{ item.uri }}"
                   class="{{ loop.first ? ' first' -}}{{ loop.last ? ' last' -}}{{ item|current ? ' active' }}">
                    {{- item.label -}}
                </a>
            </div>
        {% else %}
            <div>{{- item.label -}}</div>
        {% endif %}
        {% if with_submenu %}
            <ul>
                {% for submenu in item.submenu %}
                    <li>{{ display_menu_item(submenu, loop, true) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endapply %}
{% endmacro %}

{# Make the macro available for use #}
{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop, withsubmenus) }}
    {% endif %}
{% endfor %}
