{# #}
{# This file is part of the Yoshi-Kan software. #}
{# #}
{# (c) Koen Caerels #}
{# #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{# #}

<html>
<head>
    <style type="text/css">

        body {
            font-family: Helvetica;
        }

        @page {
            margin: 10mm;
        }

        h2, h3, h4, h5 {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .page_break {
            page-break-before: always;
        }

        .small {
            font-size: 12px;
        }

        .smaller {
            font-size: 10px;
        }

        .gray {
            color: gray;
        }

    </style>
</head>
<body>

{# ------------------------------------------------------------------------------------------------------------------ #}

{% for subscription in list.subscriptions %}

    <table width="100%" style="border:3px solid black;margin-top:20px;" cellspacing="0" cellpadding="0">
        <tr>
            <td width="65%" valign="top">
                <table width="100%" cellpadding="10" cellspacing="0" style="border-bottom: 1px solid black;"
                       class="small">
                    <tr>
                        <td><span class="small gray">Datum</span>&nbsp;&nbsp;{{ list.generatedOn |date('d/m/Y') }}</td>
                        <td><span class="small gray">Plaats</span>&nbsp;&nbsp;{{ subscription.location.name }}</td>
                        <td><span class="small gray">Ref.</span>&nbsp;&nbsp;
                            <strong>YKS-{{ subscription.id }}</strong>
                        </td>
                    </tr>
                </table>
                <table width="100%" cellpadding="3" cellspacing="0"
                       style="font-size: 12px;margin-left: 8px; margin-top: 5px;">
                    <tr>
                        <td><span class="small gray">Naam</span></td>
                        <td><strong>{{ subscription.lastname | upper }} {{ subscription.firstname }}</strong></td>
                    </tr>
                    <tr>
                        <td><span class="small gray">Gebdatum</span></td>
                        <td>
                            ° {{ subscription.dateOfBirth |date('d/m/Y') }}
                            {# ( {{ subscription.gender.value }} )#}
                        </td>
                    </tr>
                    <tr>
                        <td><span class="small gray">Adres</span></td>
                        <td>
                            {{ subscription.member.addressStreet }}
                            {{ subscription.member.addressNumber }}
                            {% if(subscription.member.addressBox != '') %}
                                bus {{ subscription.member.addressBox }}
                            {% endif %}
                            <br>{{ subscription.member.addressZip }}
                            {{ subscription.member.addressCity }}
                        </td>
                    </tr>
                    <tr>
                        <td><span class="small gray">Contact</span></td>
                        <td>
                            {{ subscription.contactLastname }} {{ subscription.contactFirstname }}
                            &lt;{{ subscription.contactEmail }}&gt;
                            {% if(subscription.contactPhone != '') %}
                                <br>{{ subscription.contactPhone }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <table width="100%" cellpadding="10" cellspacing="0"
                       style="border-top: 1px solid black;margin-top: 8px;"
                       class="small">

                    {% for item in subscription.items %}
                    {% if loop.first %}
                    <tr>
                {% else %}
                    <tr style="border-top: 1px solid silver;margin-top: 8px;">
                        {% endif %}

                        {% if(item.price == 0) %}
                        <td colspan="2" style="font-size: 12px;">{{ item.name }}</td>
                    </tr>
                    {% else %}
                    <td width="80%"> {{ item.name }}</td>
                    <td align="right" width="20%"> {{ item.price }} €</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div style="border-top: 1px solid black;">
        <div style="padding:10px;">
            <div class="small">
                Door het ondertekenen of het uitvoeren van de betaling, gaat U akkoord met ons
                reglement en privacy verklaring, terug te vinden op onze website www.yoshi-kan.be
            </div>
        </div>
    </div>
    </td>
    <td width="35%" style="border-left: 1px solid black; padding-left:20px;" valign="top">
        <div style="font-size: 20px;margin-top: 20px;">
            <strong>JC Yoshi-Kan v.z.w.</strong>
        </div>
        <div class="smaller">
            <br>Secr: Spekstraat 80
            <br>2220 Heist o/d Berg
            <br>
            <br>
            G&nbsp;&nbsp;0474 51 13 98
            <br>E&nbsp;&nbsp;judo.yoshikan@gmail.com
        </div>
        <div class="small">
            <br>IBAN: BE37 7330 0101 8328
            <br>BIC: KRED BE BB
        </div>
        <div style="margin-top: 20px;margin-bottom: 20px;margin-right: 20px;">
            <div style="border: 1px solid black;padding:10px;background-color: silver">
                <strong>
                    Totaal:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ subscription.total }} €
                </strong>
            </div>
        </div>
        <div class="small">
            Handtekening ouder of voogd:
            <br><br><br>&nbsp;
        </div>
    </td>
    </tr>
    </table>

{% endfor %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<script type="text/php">
    if ( isset($pdf) ) {
        $x = 550;
        $yBottom = 820;
        $yTop = 8;
        $text = "{PAGE_NUM} van {PAGE_COUNT}";
        $font = $fontMetrics->get_font("helvetica", "regular");
        $size = 8;
        $pdf->page_text($x, $yTop, $text, $font, $size);
        $pdf->page_text($x, $yBottom, $text, $font, $size);
    }
</script>
</body>
</html>
