{% extends 'mail/base_mail.html.twig' %}

{% block title %}{{ subject }}{% endblock %}

{% block body %}

    {# judoka  ------------------------------------------------------------------------------------------------------ #}
    <p>Beste {{ subscription.contactLastname }} {{ subscription.contactFirstname }},</p>
    <p>
        Bedankt voor je inschrijving van
        <strong>{{ subscription.lastname | upper }} {{ subscription.firstname }}</strong>
        (° {{ subscription.dateOfBirth | date('d/m/Y') }} - {{ subscription.gender.value }})
        als nieuw lid.
    </p>
    {# extra paragraph for a new member ----------------------------------------------------------------------------- #}
    <p>
        <strong>Contact</strong>
        <br>{{ subscription.contactLastname }} {{ subscription.contactFirstname }}
        <br>{{ subscription.addressStreet }} {{ subscription.addressNumber }}
        {% if(subscription.addressBox) != '' %} bus {{ subscription.adressBox }}{% endif %}
        <br>{{ subscription.addressZip }} {{ subscription.addressCity }}
    </p>

    {# summary ------------------------------------------------------------------------------------------------------ #}
    <p>
        <strong>Referentie: YKS-{{ subscription.id }}</strong>
        <br>- Locatie: {{ subscription.location.name }}
        <br>- Lidmaatschap:
        {% if(subscription.memberSubscriptionIsHalfYear == 1) %}
            Halfjaarlijks
        {% else %}
            Jaarlijks
        {% endif %}
        {% if(subscription.numberOfTraining == 1) %}
            <br>- 1 training per week
        {% elseif(subscription.numberOfTraining == 2) %}
            <br>- 2 trainingen per week
        {% else %}
            <br>- 3 tot 5 trainingen per week.
        {% endif %}
        <br>- Inschrijvingspakket: judogids, judopaspoort, leskaart + sportzak voor judopak.
        {% if(subscription.isReductionFamily) %}
            <br>- 10% Korting als 2e en 3e kind van éénzelfde familie.
        {% endif %}
    </p>
    <p>
        We kijken alles nog eens na. Van zodra alles in orde is,
        krijg je van ons een definitieve bevestiging en de betalingsinstructies via email.
    </p>
    <p>
        Tot binnenkort.
    </p>
    <p>
        Met sportieve groeten,
        <br>Team Yoshi-Kan.
    </p>
{% endblock %}
